# A comment which can contain anything.
[database_config]

username = Amey.Patil@quest-global.com
password = Quest=1234
head = {'User-Agent' : 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.119 Safari/537.36'}
url = https://rolls-royce.leankit.com/Account/Membership/Authenticate?support=False
url2 =https://rolls-royce.leankit.com/io/user/me/board/recent?_=1551685125246
url3=https://rolls-royce.leankit.com/io/board/
url4=/card?limit=200&id=
url5=https://rolls-royce.leankit.com/io/card/